.box{
    width: 170px;
    height: 170px;
    margin: 2px;
}
#first{
    background-color: red;
    float: right;
}
#second{
    background-color: blue;
    float: right;
}
#third{
    background-color: green;
    float: right;
}
#container{
    background-color: gray;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}