*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}
body{
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333;
    line-height: 135%;
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}
.blog-text{
    margin-top: 15px;
    font-size: 16px;
    color: #aaa;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: justify;
}
#container{
    width: 1140px;
    margin: 20px auto;
}
#blog-post-container{
    width: 75%;
    float: left;
}
#other-posts{
    width: 25%;
    float: left;
    padding-left: 10px;
}
.box{
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0, .09); 
}
.blog-post{
    position: relative;
}
.tags li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.tags li a{
    text-decoration: none;
}
.date{
    position: absolute;
    right: 40px;
    top: 20px;
    color: #aaa;
    font-size: 12px;
}
.blog-post img{
    width: 100%;
}
#author-box{
    border-top: 1px solid rgb(0,0,0,.125);
    padding-top: 10px;
}
#author-box img{
    border-radius: 50%;
    float: left;
}
.author-text{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}
#inner-other-posts{
    top: 20px;
}
#share a{
    color: gray;
    text-decoration: none;
    margin-right: 12px;
    opacity: 0.9;
}
#share a:hover{
    opacity: 0.6;
}
ul{
    list-style-type: none;
}
ul li{
    margin-bottom: 10px;
}
.header{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.tag{
    display: inline-block;
    border: 1px solid rgb(97, 236, 84, .9);
    background: white ;
    color: rgb(97, 236, 84, 0.9);
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 3px;
}
.tag:hover{
    background: rgb(97, 236, 84, 0.9);
    color: white;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 3px;
}