*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem; /*'rem' ile html'in font-size'ının 1.6 katını belirtmiş oluyoruz. html'e 10px tanımladığımız için 10*1.6rem = 16px oluyor.*/
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
    color: white;
}
a{
    text-decoration: none;
}
p{
    padding: 1.6rem 0;
}
/*Header*/
header{
    height: 45rem;
}
header .bg-image{
    background-image: url(images/bg.jpeg);
    height: 45rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}
header h1{
    padding: 11rem;
    padding-bottom: 0;
}
.btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.3s linear;
}
img{
    width: 100%; /*Tarayıcı px'i düşsede artsada görselimizin tamamı kullanıcının görebileceği şekilde olur.*/
    height: auto; /*Bu özellik ile de görselin genişliği ne ise yüksekliği de ona göre otomatik ayarlanacaktır.*/
}
.btn:hover{
    background-color: #eaeaea;
    color: #333;
}
/*section-a*/
#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}
/*section-b*/
#section-b{
    padding: 2rem;
}
#section-b ul{
    list-style: none;
}
#section-b ul li{
    background-color: white;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-content{
    padding: 1.5rem
}