*{
    margin: 0;
}
.box{
    width: 120px;
    height: 120px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}
#first{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-left-width: 4px;

    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: groove;
    border-left-style: double;

    border-top-color: red;
    border-right-color: aqua;
    border-bottom-color: bisque;
    border-left-color: blue;
}
#second{
    border-top: 2px solid blue;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
}
#third{
    border: 3px solid green;
    border-radius: 50%;
}
#msgbox{
    background-color: lightgray;
    border-left: 5px solid green;
    margin: 10px;
    padding: 20px;
    color: white;
}