.box{
    width: 100px;
    height: 100px;
}
#first{
    background-color: red;
    margin-top: 50px;
}
#second{
    background-color: blue;
    margin: auto;
}
#third{
    background-color: green;
    margin-top: 150px;
}
span{
    background-color: red;
    margin: 50px;
    display: inline-block;
}
body{
    margin: 0;
}